@model HospitalManagement.Models.User
@{
    ViewBag.Title = "Sign Up";
}
@*<style>
    body {
        background-image: url('/Content/Images/earth space.jpeg');
        background-size: cover
    }
    </style>*@
<h1 class="user-name" style="text-align:center;">Sign Up</h1>
<div class="auth-main">
    <div class="auth-wrapper v1">
        <div class="card my-1">
            <div class="card-body">
                @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row g-3">
                        <div class="form-group col-md-4">
                            <label class="form-label">Full Name</label>
                            <input type="text" name="FullName" class="form-control" placeholder="Enter Your Full Name" required />
                            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">Email</label>
                            <input type="text" name="Email" class="form-control" placeholder="Enter Your Email" required />
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="form-label">User Name</label>
                            <input type="text" name="UserName" class="form-control" placeholder="Enter User Name" required />
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="form-group col-md-4 mt-4">
                            <label class="form-label">Address</label>
                            <input type="text" name="Address" class="form-control" placeholder="Enter Your Address" required />
                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4 mt-4">
                            <label class="form-label">Password</label>
                            <div class="password-wrapper">
                                <input type="password" id="password" name="PasswordHash" class="form-control" placeholder="Enter Your Password" required />
                                <i class="fa-solid fa-eye toggle-eye" id="togglePassword" title="Show Password"></i>
                            </div>
                        </div>

                        <div class="form-group col-md-4 mt-4">
                            <label class="form-label">Confirm Password</label>
                            <div class="password-wrapper">
                                <input type="password" id="confirmPassword" name="passwordConfirm" class="form-control" placeholder="Enter Your Password Again" required />
                                <i class="fa-solid fa-eye toggle-eye" id="toggleConfirm" title="Show Password"></i>
                            </div>
                            <div class="error-message" id="errorMessage">Passwords do not match</div>
                        </div>

                        <div class="d-grid mt-4 col-md-5" style="margin:auto">
                            <button type="submit" class="btn btn-primary">Create Account</button>
                        </div>
                    </div>
                }
                <div class="text-center mt-3">
                    <a href="@Url.Action("Login", "Account")">Already have an account? Login here</a>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/Scripts/MY_JS.js"></script>
