@model IEnumerable<HospitalManagement.Models.People.Patient>
<h2 class="user-name" style="text-align:center">Patient</h2>
<hr />
<p class="mt-5">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary", style = "color:white;font-weight:600" })
</p>

<div class="container-fluid" style="overflow:auto;max-height:300px">
    <table class="table">
        <tr>
            <th class="user-name">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="user-name">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="user-name">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th class="user-name">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="user-name">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="user-name">
                @Html.DisplayNameFor(model => model.PatientNumber)
            </th>
            <th class="user-name">Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="user-name">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="user-name">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="user-name">
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td class="user-name">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="user-name">
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td class="user-name">
                    @Html.DisplayFor(modelItem => item.PatientNumber)
                </td>
                <td class="text-center gap-2" style="display:flex;">
                    <a href="@Url.Action("Edit", new { id = item.PatientId })" class="btn btn-success" title="Edit">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="@Url.Action("Details", new { id = item.PatientId })" class="btn btn-secondary" title="Details">
                        <i class="fa fa-file-alt"></i>
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.PatientId })" class="btn btn-danger" title="Delete">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>

